/*!
 Theme Name:	Het Mobiliteit kantoor
 Theme Base:	Het Recruitingkantoor default theme 1.1
 Theme URI:		https://hetrecruitingkantoor.nl
 Description:	Thema voor Het Mobiliteit kantoor
 Author:		Razend - Jochem Oldemans
 Author URI:	https://www.razend.net/
 Template:		hrk
 Version:		1.1
 Text Domain:	hrk-child
*/
a {
  color: #658791;
}
a:hover, a:focus {
  color: #486b75;
}

body {
  color: rgba(0, 0, 0, 0.7);
}

h1 {
  color: #64676a;
}

h2 {
  color: #64676a;
}

h3 {
  color: #64676a;
}

.contact .icon {
  color: #DB722E;
}

footer a {
  font-weight: 600;
}
footer a:hover {
  color: #DB722E;
}

#copyright {
  background: #E8BD3C;
}

a.btn, a:not([href]):not([tabindex]),
button.btn,
button:not([href]):not([tabindex]) {
  background: #DB722E;
}
a.btn:hover, a:not([href]):not([tabindex]):hover,
button.btn:hover,
button:not([href]):not([tabindex]):hover {
  background: #db712c;
}
a.btn:hover, a:not([href]):not([tabindex]):hover,
button.btn:hover,
button:not([href]):not([tabindex]):hover {
  background: #cc6623;
}
a.btn.base, a:not([href]):not([tabindex]).base,
button.btn.base,
button:not([href]):not([tabindex]).base {
  background: #0080a4;
  border-color: #0080a4;
}
a.btn.base:hover, a:not([href]):not([tabindex]).base:hover,
button.btn.base:hover,
button:not([href]):not([tabindex]).base:hover {
  background: #005871;
}

section#fullwidth-image {
  background: #E8BD3C;
}
section#fullwidth-image.less-height {
  background-color: #E8BD3C;
}
section#blue {
  background: #658791;
}

ul.socialmedia.icons-circle li a i {
  background: #E8BD3C;
}
ul.socialmedia.icons-circle li a i:hover {
  background: #e5b525;
}
ul.socialmedia.share-buttons li {
  background: #5DAB96;
}
ul.socialmedia.share-buttons li:hover {
  background: #6eb4a1;
}

#services .service .thumbnail a:hover {
  color: #fff;
}

#servicepoints {
  background-color: #E8BD3C;
}
#servicepoints .servicepoint {
  color: #fff;
}

.navbar .navbar-toggler i {
  color: rgba(0, 0, 0, 0.7);
}

header .navbar-expand-lg .navbar-nav li {
  list-style-type: none;
}
header .navbar-expand-lg .navbar-nav li a.nav-link {
  color: rgba(0, 0, 0, 0.7);
}
header .navbar-expand-lg .navbar-nav li .dropdown-menu li a.dropdown-item:hover, header .navbar-expand-lg .navbar-nav li .dropdown-menu li a.dropdown-item:active {
  color: #668893;
}
header .navbar-expand-lg .navbar-nav li:hover a.nav-link {
  color: #658791;
}
header .navbar-expand-lg .navbar-nav li.active a.nav-link {
  color: #668893;
}

.navigation.pagination .nav-links .page-numbers,
.navigation.pagination .nav-links .current {
  color: rgba(0, 0, 0, 0.7);
}
.navigation.pagination .nav-links .page-numbers.prev:hover, .navigation.pagination .nav-links .page-numbers.next:hover,
.navigation.pagination .nav-links .current.prev:hover,
.navigation.pagination .nav-links .current.next:hover {
  color: #5DAB96;
}
.navigation.pagination .nav-links .current,
.navigation.pagination .nav-links .current:hover {
  background: #5DAB96;
  color: #fff;
}
