/*!
 Theme Name:	Recruitmentbanen
 Theme Base:	Het Recruitingkantoor default theme 1.1
 Theme URI:		https://hetrecruitingkantoor.nl
 Description:	Thema voor Recruitment Banen
 Author:		Razend - Jochem Oldemans
 Author URI:	https://www.razend.net/
 Template:		hrk
 Version:		1.1
 Text Domain:	hrk-child
*/#copyright{background:#0080a4}.job_applying_steps .step{background:#5dab96;color:#fff;height:100%;padding:30px}.job_applying_steps .step .image{background:#fff;border-radius:50%;box-shadow:10px 10px 5px 0px rgba(0,0,0,.18);height:86px;width:86px;padding:18px;margin-top:10px;margin-bottom:70px}.job_applying_steps .step .image img{height:auto;width:100%}.job_applying_steps .step .title{font-size:2.2rem;margin-bottom:45px}section#fullwidth-image{background:#0080a4}#servicepoints{background-image:url(images/man_met_tablet.jpg);background-color:#0080a4;background-blend-mode:soft-light}@media(min-width: 992px){.thumbnail{height:330px}}@media(min-width: 1200px){.thumbnail{height:385px}}
