/*!
 Theme Name:	De Laarhoeve
 Theme Base:	Het Recruitingkantoor default theme 1.1
 Theme URI:		https://hetrecruitingkantoor.nl
 Description:	Thema voor De Laarhoeve
 Author:		Razend - Jochem Oldemans
 Author URI:	https://www.razend.net/
 Template:		hrk
 Version:		1.2
 Text Domain:	hrk-child
*/#copyright{background:#f7be29;color:#2f2f2f;font-weight:700;padding:10px 0;font-size:1.4rem;text-transform:lowercase}#copyright a{color:#2f2f2f}a.btn,a:not([href]):not([tabindex]),button.btn,button:not([href]):not([tabindex]){background:#015535;border-radius:3px;border:none;color:#fff;font-size:1.6rem;font-weight:700;margin:5px 10px 5px 0;padding:8px 26px;transition:all .2s ease;transition:background .2s ease}a.btn:hover,a:not([href]):not([tabindex]):hover,button.btn:hover,button:not([href]):not([tabindex]):hover{background:#015334}a.btn:hover,a:not([href]):not([tabindex]):hover,button.btn:hover,button:not([href]):not([tabindex]):hover{background:#013c25;color:#fff}ol.carousel-indicators li{background:#015535}ul.socialmedia.icons-circle li a i{background:#015535}ul.socialmedia.icons-circle li a i:hover{background:#013c25}#services .readmore{background:#015535;color:#fff;padding:4px 15px;margin-top:5px}
